<?xml version="1.0"?>
  <model>
    <name>test_imu</name>
    <version>1.0</version>
    <sdf version='1.5'>test_imu.sdf</sdf>
    <author>
      <name>Alessandro Settimi</name>
      <email>ale.settimi@gmail.com</email>
    </author>
    <description>
      imu plugin test model
    </description>
  </model>
