<launch>
<!-- Based on pysical (MOCA) or simulation (Gazebo) testing choose option -->
  <include file="$(find uav_control)/launch/imu_jetson.launch"/>
  <arg name="MOCA" value="true"/>
  <rosparam>
      environment: 1
  </rosparam>
  <rosparam file="$(find uav_geometric_controller)/params/jetson_controller.yaml" />
  <param name="simulation" type="bool" value="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>

  <!-- start odroid node-->
  <node name="jetson_uav" type="node" pkg="uav_geometric_controller" respawn="false" output="screen">
  </node>
  <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" /> -->
</launch>
