<launch>
    <!-- Based on pysical (MOCA) or simulation (Gazebo) testing choose option -->
    <group ns="Jetson">
      <arg name="MOCA" value="true"/>
      <rosparam>
          environment: 0
      </rosparam>

      <include file="$(find uav_geometric_controller)/launch/imu_jetson.launch"/>
      <rosparam file="$(find uav_geometric_controller)/params/jetson_controller.yaml" />
      <param name="simulation" type="bool" value="false"/>
      <arg name="paused" default="false"/>
      <arg name="gui" default="true"/>
      <arg name="debug" default="false"/>
      <arg name="verbose" default="true"/>
      <!-- start estimator node-->
      <node name="estimator" type="estimator.py" pkg="uav_geometric_controller" respawn="false" output="screen">
      </node>
      <!-- start controller node-->
      <node name="uav" type="node" pkg="uav_geometric_controller" respawn="false" output="screen">
      </node>
    </group>
</launch>
