<launch>
<!-- Based on pysical (MOCA) or simulation (Gazebo) testing choose option -->
  <include file="$(find uav_control)/launch/imu_odroid.launch"/>
  <arg name="MOCA" value="true"/>
  <rosparam>
      environment: 1
  </rosparam>
  <rosparam file="$(find uav_controller)/params/controller.yaml" />
  <param name="simulation" type="bool" value="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <node pkg="tf" type="static_transform_publisher" name="vicon_earth" args="0 0 0 0 0 3.1415 vicon earth 10" />

  <!-- start odroid node-->
  <node name="node" type="node" pkg="uav_controller" respawn="false" output="screen">
  </node>
  <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" /> -->
</launch>
