<launch>
<!-- Based on pysical (MOCA) or simulation (Gazebo) testing choose option -->
    <arg name="MOCA" value="false"/>
    <!-- <rosparam>
        environment: 0
    </rosparam> -->
    <rosparam file="$(find odroid)/params/controller.yaml" />
    <group unless="$(arg MOCA)">
        <arg name="use_sim_time" default="true"/>
        <node name="sim_vicon" type="sim_vicon" pkg="odroid" output="screen" />
    </group>

    <param name="simulation" type="bool" value="true"/>
    <arg name="paused" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <node pkg="tf" type="static_transform_publisher" name="vicon_earth" args="0 0 0 0 0 3.1415 vicon earth 10" />
    <!-- start odroid node-->
    <node name="node" type="node" pkg="odroid" respawn="false" output="screen">
        <remap from="imu/imu" to="raw_imu"/>
    </node>
    <node name="key_cmd" type="key_direct.py" pkg="odroid" respawn="false" output="screen" />
    <node name="cmd_traj" type="trajectory_cmd.py" pkg="odroid" respawn="false" output="screen" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" /> -->
</launch>
