<launch>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>

    <!-- start odroid node-->
    <node name="odroid_node" type="odroid_node" pkg="odroid" respawn="false" output="screen" >
      <!-- <remap from="imu/imu" to=""/> -->
    </node>

</launch>
