<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Quadrotor Sensor Plugins -->
  <xacro:macro name="quadrotor_sensors">
        <gazebo>
          <plugin name="quadrotor_groundtruth_sim" filename="libgazebo_ros_p3d.so">
            <updateRate>100.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>$(arg world_frame)</frameName>
          </plugin>
          <plugin name="quadrotor_imu_sim" filename="libhector_gazebo_ros_imu.so">
            <updateRate>100.0</updateRate>
            <bodyName>base_link</bodyName>
            <!-- <frameId>$(arg base_link_frame)</frameId> -->
            <topicName>raw_imu</topicName>
            <rpyOffset>3.14159 0 0</rpyOffset> <!-- deprecated -->
            <gaussianNoise>0</gaussianNoise>  <!-- deprecated -->
            <accelDrift>0.0 0.0 0.0</accelDrift>
            <accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise>
            <rateDrift>0.0 0.0 0.0</rateDrift>
            <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
          </plugin>

        </gazebo>
  </xacro:macro>
</robot>
